* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6d348ff8-f996-42ab-89b8-494948fb367b/deh0z1y-8511171e-0f81-49f5-8f40-e2c9eb87d494.jpg/v1/fill/w_1185,h_674,q_70,strp/nagasaki_01_by_albertourra_deh0z1y-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMTM5IiwicGF0aCI6IlwvZlwvNmQzNDhmZjgtZjk5Ni00MmFiLTg5YjgtNDk0OTQ4ZmIzNjdiXC9kZWgwejF5LTg1MTExNzFlLTBmODEtNDlmNS04ZjQwLWUyYzllYjg3ZDQ5NC5qcGciLCJ3aWR0aCI6Ijw9MjAwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.QzeWZ_iU9owcrgPpsBCLBpNIuzy08TXn8X3BJ8E0LJM");
    font-family: "Roboto", Arial;
  }
  h1 {
      font-family: "Roboto", Arial;
      text-align: justify;
      padding: 3rem;
      color: #f4f3ee;
  }
  h2{
    font-family: "Roboto", Arial;
      text-align: center;
      font-size: 60px;
      padding: 1rem;
      color: #ffffff;
  }

  ul {
    top: 70px;
    position: absolute;
    width: 100%;
    list-style: none;
}


table{
	border-style: hidden;
    background: rgba(74, 153, 243, 0.199);
    border: none;
    display: inline-block;
    font-family: "Roboto", Arial;
    padding-left: 35%;
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.856);
    
}
th, td {
    text-align: left;
    padding: 1rem;
}
.td_sup{
    align-items: right;
    justify-content: right;
    background-color: rgba(24, 24, 22, 0.637);
}
.td_inf{
    align-items: center;
    justify-content: center;
    background-color: rgba(172, 255, 244, 0.61);
}

.input_text{
    align-items: center;
    justify-content: center;
    size: 50;
    border-width: 2px;
    border-style: solid;
    color: rgb(0, 48, 70);
    letter-spacing: 3px;
}



input[type="checkbox"]
{
    display: none;
}
input[type = "checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}
button {
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    background-position: center;
    transition: background 0.8s;
    }
  button:active{
    box-shadow: 0 6px 0 #9eecff;
    top: 6px;
    }