* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/954f2b90-24ec-408c-945d-2f157ae82461/de1j7kn-4fcbd939-6cb1-44b2-83ed-aa9faaeb3669.jpg/v1/fill/w_1264,h_632,q_70,strp/exploring_by_macksztaba_de1j7kn-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD02NDAiLCJwYXRoIjoiXC9mXC85NTRmMmI5MC0yNGVjLTQwOGMtOTQ1ZC0yZjE1N2FlODI0NjFcL2RlMWo3a24tNGZjYmQ5MzktNmNiMS00NGIyLTgzZWQtYWE5ZmFhZWIzNjY5LmpwZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.a36U-SRDb5nQVvFJvX32Yq-Ww5dMQdfkzklNHW5WRn0");
    font-family: "Roboto", Arial;
  }
  h1 {
      font-family: "Roboto", Arial;
      text-align: justify;
      padding: 3rem;
      color: #f4f3ee;
  }
  h2{
    font-family: "Roboto", Arial;
      text-align: center;
      font-size: 60px;
      padding: 1rem;
      color: #ffffff;
  }

  ul {
    top: 70px;
    position: absolute;
    width: 100%;
    list-style: none;
}


table{
	border-style: hidden;
    background: rgba(187, 196, 206, 0.199);
    border: none;
    display: inline-block;
    font-family: "Roboto", Arial;
    padding-left: 31%;
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.856);
    
}
th, td {
    text-align: left;
    padding: 1rem;
}
.td_sup{
    align-items: right;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.637);
}
.td_inf{
    align-items: center;
    justify-content: center;
    background-color: rgba(104, 116, 119, 0.486);
}

.input_text{
    align-items: center;
    justify-content: center;
    size: 50;
    border-width: 2px;
    border-style: solid;
    color: rgb(0, 48, 70);
    letter-spacing: 3px;
}



input[type="checkbox"]
{
    display: none;
}
input[type = "checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}
button {
    color: #ccd8e0;
    background-color: #000000;
    border: 1px solid #ccd8e0;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
    }
    button:hover {
        transform: rotateZ(-30deg);
        }